.header-container{
    background-color: var(--bg-color);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9ecef;
    height: 60px;
    width: 97%;
    min-width: 700px;
    gap: 30px;
    padding: 0px 20px 0px 20px;
    z-index: 1000;
}

.spacer {
    height: 60px;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img{
    width: 20px;
    height: 20px;
}

.logo-container span{
    font-size: 20px;
    font-weight: 600;
    font-weight: bold;
}

.header-container nav ul{
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-container nav ul span{
    font-size: 15px;
    font-weight: 500;
}