.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
}

.container-banner{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.container-banner img {
    width: 75%;
    height: auto;
    border-radius: 10px;
}

.container-banner .title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.container-banner .banner-input{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}