.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.container-banner{
    width: 75%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.container-banner img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.container-banner .title {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.container-banner .banner-input{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.container-home .container-why{
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 10px
}

.container-home .container-why .why-title{
    font-weight: 1000;
    font-size: 2rem;
    color: var(--text-color);
}

.container-home .container-why .why-body{
    font-size: 1rem;
    color: var(--text-color);
    text-align: justify;
}

.container-home .container-features{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    gap: 20px;
    min-height: 400px;
}

.feature{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    cursor: pointer;
    gap: 10px;
}

.feature .feature-image{
    width: 100%;
    height: 200px;
    background-color: #ccc;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.feature .feature-image img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s;
}

.feature .feature-image img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.feature .feature-title{
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--text-color);
}

.feature .feature-body{
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
    color: #a0a0a0;
}

@media (width < 715px){
    .container-home .container-features{
        flex-direction: column;
        gap: 40px;
    }

    .container-banner .title {
        font-size: 1.0rem;
    }
    
    .container-banner .banner-input{
        top: 80%;
        width: 75%;
    }
}