.login-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}

.login-container {
    width: 500px;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    background-color: var(--bg-color);
}

.login-container h1{
    text-align: center;
}

.login-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (width < 544px){
    .login-container {
        width: 250px;
    }
}