.container-profile-app{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.container-profile{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
}

.container-profile-slide{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 20px;
    min-width: 176px;
    justify-content: space-between;
}

.profile-slide .profile-item{
    height: 40px;
    align-content: center;
    padding-left: 20px;

}

.profile-slide .profile-item:hover{
    cursor: pointer;
    background-color: var(--hover-color);
    border-radius: 10px;
}

.profile-data-info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    padding-right: 20px;
}

.profile-data-info .profile-data{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 150px;
    gap: 5px;
}

.profile-data-info .profile-data .profile-image{
    text-align: center;
    width: 15%;
    height: 100%;
}

.profile-data-info .profile-data .profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-data-info .profile-data .profile-user{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.profile-data-info .profile-data .profile-user .profile-name{
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--text-color);
}

.profile-data-info .profile-data .profile-user .profile-email{
    font-weight: 500;
    font-size: 0.9rem;
    color: #8e8e8e;
}

.profile-data-info .profile-data .profile-button{
    padding-right: 20px;
    width: 25%;
}

.profile-info-data{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-info-data .profile-info-data-item .static-text {
    font-weight: 700;
    font-size: 1.1rem;
}

.profile-info-data .profile-info-data-item .dinamic-text, .profile-item span {
    font-weight: 400;
    font-size: 1rem;
}

.ProfileError{
    width: 85%;
    text-align: center;
}

@media (width < 776px){
    .container-profile{
        flex-direction: column-reverse;
        gap: 40px;
    }

    .profile-data-info{
        width: 80%;
        align-self: center;
        padding-right: 0px;
    }

    .profile-data-info .profile-data .profile-image{
        width: auto;
        height: 50%;
        border-radius: 50%;
    }

    .profile-data-info .profile-data .profile-user .profile-name{
        font-size: 0.9rem;
    }

    .profile-data-info .profile-data .profile-button{
        padding-right: 0px;
        width: 25%;
    }

    .container-profile-slide{
        width: 100%;
    }

    .ProfileError{
        width: 100%;
    }
    

}

/* PROFILE EDIT */
.imgEditProfile{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    align-self: center;
}

.form-editProfile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}