:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --bg-color: #f9fcf8;
  /* --bg-color: #222327; */
  --accept-color: #1fdf25;
  --normal-color: #e8f3e9;
  --text-color: #0e1b10;
  --hover-color: #f0f0f0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  flex-direction: column;
}

.icon{
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

a{
  list-style: none;
  text-decoration: none;
  color: var(--text-color);
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

footer{
  text-align: center;
  color: #ccc;
}