:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --bg-color: #f9fcf8;
  --accept-color: #1fdf25;
  --normal-color: #e8f3e9;
  --text-color: #0e1b10;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
}